**Ejercicio4**

In [5]:
import numpy as np
import pandas as pd

In [6]:
e1 = [ 28,"Bogotá", 2000]
e2 = [ 37, "Lima", 3200 ]
e3 = [ 23,"Bogotá", 1700]
e4 = [ 25, "Buenos Aires", 1100 ]
e5 = [ 43,"Buenos Aires", 3300]
e6 = [ 58, "Lima", 5500 ]
e7 = [ 32,"Bogotá", 2700]
e8 = [ 35, "Quito", 2500 ]

empleados = pd.DataFrame([e1,e2, e3, e4, e5, e6, e7, e8],
                        index = ["Carlos", "David", "Ana", "Maria", "Felipe", "Luisa", "Juan", "Camila"],
                        columns = ["Edad", "Ciudad Residencia", "Salario (en USD)"])
empleados

        Edad Ciudad Residencia  Salario (en USD)
Carlos    28            Bogotá              2000
David     37              Lima              3200
Ana       23            Bogotá              1700
Maria     25      Buenos Aires              1100
Felipe    43      Buenos Aires              3300
Luisa     58              Lima              5500
Juan      32            Bogotá              2700
Camila    35             Quito              2500

In [7]:
def mayor_al_promedio(df, nombre):
    promedio = df["Salario (en USD)"].mean()
    salario = df.loc[nombre, "Salario (en USD)"]
    return bool(salario > promedio)

In [8]:
## AUTO-CALIFICADOR

# Test paremters
e1 = [ 28,"Quito", 2000]
e2 = [ 37, "Lima", 3200 ]
e3 = [ 22,"Bogotá", 1700]
e4 = [ 35, "Santiago", 1100 ]
e5 = [ 41,"Buenos Aires", 3900]
e6 = [ 58, "Lima", 5500 ]
e7 = [ 22,"Brasilia", 2100]
e8 = [ 35, "Bogotá", 2500 ]

empleados_test = pd.DataFrame([e1,e2, e3, e4, e5, e6, e7, e8],
                              index=["Carlos", "David", "Ana", "Maria", "Felipe", "Luisa", "Juan", "Camila"],
                              columns=["Edad", "Ciudad Residencia", "Salario (en USD)"])

# Caso 1: no existe la función.
try:
    mayor_al_promedio
    assert type(mayor_al_promedio) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada mayor_al_promedio.")

# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    mayor_al_promedio(empleados, 'Juan')
    mayor_al_promedio(empleados_test, 'Luisa')
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un boolean
assert type(mayor_al_promedio(empleados_test, 'Luisa')) == type(True), f"Tu función debe retornar un objeto de tipo {type(True).__name__}."

# Caso 4: procedimiento incorrecto
assert mayor_al_promedio(empleados_test, 'Luisa') != False, "Tu respuesta es incorrecta para una instancia diferente. Utiliza los parámetros."

# Caso 5: retorna un numero distinto del esperado
assert mayor_al_promedio(empleados_test, 'Luisa') == True, "Tu respuesta es incorrecta."
assert mayor_al_promedio(empleados, 'Juan') == False, "Tu respuesta es incorrecta."

# Mensaje de felicitaciones
print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.