**Ejercicio5**

In [1]:
import numpy as np
import pandas as pd

In [2]:
e1 = [ 28,"Bogotá", 2000]
e2 = [ 37, "Lima", 3200 ]
e3 = [ 23,"Bogotá", 1700]
e4 = [ 25, "Buenos Aires", 1100 ]
e5 = [ 43,"Buenos Aires", 3300]
e6 = [ 58, "Lima", 5500 ]
e7 = [ 32,"Bogotá", 2700]
e8 = [ 35, "Quito", 2500 ]

empleados = pd.DataFrame([e1,e2, e3, e4, e5, e6, e7, e8],
                        index = ["Carlos", "David", "Ana", "Maria", "Felipe", "Luisa", "Juan", "Camila"],
                        columns = ["Edad", "Ciudad Residencia", "Salario (en USD)"])
empleados

        Edad Ciudad Residencia  Salario (en USD)
Carlos    28            Bogotá              2000
David     37              Lima              3200
Ana       23            Bogotá              1700
Maria     25      Buenos Aires              1100
Felipe    43      Buenos Aires              3300
Luisa     58              Lima              5500
Juan      32            Bogotá              2700
Camila    35             Quito              2500

In [3]:
def modificar(df):
    df_mod = df.copy()
    df_mod = df_mod.rename(columns={"Salario (en USD)": "Sueldo (en USD)"})
    df_mod = df_mod.drop(df_mod.index[1])
    return df_mod

In [4]:
## AUTO-CALIFICADOR

# Test paremters
e1 = [ 28,"Quito", 2000]
e2 = [ 37, "Lima", 3200 ]
e3 = [ 22,"Bogotá", 1700]
e4 = [ 35, "Santiago", 1100 ]
e5 = [ 41,"Buenos Aires", 3900]
e6 = [ 58, "Lima", 5500 ]
e7 = [ 22,"Brasilia", 2100]
e8 = [ 35, "Bogotá", 2500 ]

empleados_test = pd.DataFrame([e1,e2, e3, e4, e5, e6, e7, e8],
                            index=["Carlos", "Diego", "Ariel", "Maria", "Felipe", "Luisa", "Juan", "Camila"],
                            columns=["Edad", "Ciudad Residencia", "Salario (en USD)"])

# Caso 1: no existe la función.
try:
    modificar
    assert type(modificar) == type(lambda:None)
except:
    raise NotImplementedError("No existe una función llamada modificar.",)

# Caso 2: la función es interrumpida por errores durante su ejecución.
try:
    modificar(empleados)
    modificar(empleados_test)
except:
    raise RuntimeError("Tu función produce un error al ejecutarse.")

# Caso 3: no retorna un dataframe
assert type(modificar(empleados_test)) == type(empleados_test), f"Tu función debe retornar un objeto de tipo {type(empleados_test).__name__}."

# Caso 4: Cambio de nombre correcto
assert modificar(empleados_test).columns[2] == 'Sueldo (en USD)', "Tu respuesta es incorrecta. Recuerda modificar el nombre de la columna 'Salario (en USD)'"

# Caso 5: Elimino la fila
modificar(empleados_test).index[[1]] == 'Ariel', "Tu respuesta es incorrecta. Recuerda eliminar la segunda fila del DataFrame."

# Caso 6: los cambios son estrictamente correctos
try:
    assert modificar(empleados).columns[2] == 'Sueldo (en USD)'
    assert modificar(empleados).index[[1]] == 'Ana'
except AssertionError as e:
    e.args += ("Tu respuesta es incorrecta.",)
    raise e

# Mensaje de felicitaciones
print("Felicidades, realizaste este ejercicio correctamente.")

Felicidades, realizaste este ejercicio correctamente.